@inject HttpClient Http
@inject IJSRuntime JSRuntime
@page "/"
 

<div class="d-flex flex-column justify-content-center justify-content-md-start  my-5 mx-md-4">
<h5 class="text-primary text-md-start text-center">Hi @AuthService.CurrentUsername!  </h5>
    <div><CurrentTime />    </div>
        <Todo /> 
    </div>
@code {
    protected bool isAuthenticated=false;

    protected override async Task OnInitializedAsync()
    {
        isAuthenticated = await AuthService.IsAuthenticated();
        
        if (!isAuthenticated)
        {
            navigation.NavigateTo("/login");
        }
       
       
    }
}
