.list-group-item {
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

    .list-group-item:hover {
        transform: translateY(-2px);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }

.text-truncate {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

