@page "/done"

<div class="mt-5 pt-3 mx-auto w-100">
<h2 class="mt-5 mb-2 text-center">Completed task! @EmojiString</h2>
@if (completedTasks?.Count>0)
{
<ul class="list-group mt-5 pt-5 w-75 mx-auto">
      <li class="d-none d-md-flex list-group-item list-group-item-primary justify-content-between px-4 text-white"
          style="background-color:#0056b3">
      <span class="col-md-5">Time span</span> 
    <span class="col-md-5 text-justify" style="margin-left:-20px">Title</span>
    <span class="col-md-2"></span>
      </li>
    @{
        var isFirst = true; 
    }
    @foreach (var todo in completedTasks.AsEnumerable().Reverse())
    { 
            
    <li class="d-flex flex-column flex-md-row list-group-item border-1 align-items-center w-100 @(isFirst ? "border-top-1" : "border-top-0")" 
        @key="todo.Id">
        <span class="col-md-5 col mb-2 mb-md-0" style="color: #5C4033" >
            @todo.TimeDifference
        </span> 
        <span class="col-md-5 text-justify justify-content-start mb-2 mb-md-0">
            @todo.Title
        </span>

            <button class="btn btn-danger btn-sm mx-1 w-20 rounded px-2 col-md-2 mb-2 mb-md-0" @onclick="() => TakeBack(todo)" data-dismiss="alert">Take back</button>
            
     </li>
    isFirst=false;
    }
</ul>
   
}
 </div>
@code {
    [Parameter] public List<TodoItem>? completedTasks { get; set; }
    [Parameter] public EventCallback<TodoItem> OnTakeBack { get; set; }

    private byte[] emojiBytes { get; set; } = Array.Empty<byte>();
    private string EmojiString => System.Text.Encoding.Unicode.GetString(emojiBytes);

     protected override void OnInitialized()
    {
       EmojiService.HighSurrogate=0xD83D;
       EmojiService.LowSurrogate=0xDC4F;
      emojiBytes= EmojiService.GetEmojiBytes(); 
    }
    
    private async Task TakeBack(TodoItem todo)
    {

        if (OnTakeBack.HasDelegate)
        {
            await OnTakeBack.InvokeAsync(todo);
        }
    }
}
