@page "/done"
@if (completedTasks?.Count>0)
{
<ul class="list-group mt-4">
    @foreach (var todo in completedTasks.AsEnumerable().Reverse())
    {
            <li class="list-group-item d-flex justify-content-between align-items-center">
            <span>
                @todo.Title
            </span>

            <button class="btn btn-danger btn-sm mx-4" @onclick="() => TakeBack(todo)">Take back</button>
        </li>
    }
</ul>
}

@code {
    [Parameter] public List<TodoItem>? completedTasks { get; set; }
    [Parameter] public EventCallback<TodoItem> OnTakeBack { get; set; }

    private async Task TakeBack(TodoItem todo)
    {
        if (OnTakeBack.HasDelegate)
        {
            await OnTakeBack.InvokeAsync(todo);
        }
    }
}
