@page "/todo"
<div class="row d-flex justify-content-center justify-content-md-start mx-1 mx-md-4 mb-5 mt-2 w-75">
<button type="button" class="btn btn-success btn-md  col-md-2 col-sm-4  col-xs-6  @clickedClass1" @onclick="ShowComponentA">Your Todos</button>
    <span class="col-1">  </span>
<button class="btn btn-success btn-md  col-md-2  col-sm-4 col-xs-6 @clickedClass2" @onclick="ShowComponentB">Completed Tasks</button>

</div>

@if (isTodoVisible.HasValue)
{
<DynamicComponent Type="typeof(TodoComponent)" Parameters="@(new Dictionary<string, object> { { "visible", isTodoVisible } })" />
}

@code {
    private bool isClicked1 = false;
    private bool isClicked2 = false;

    private string clickedClass1 => isClicked1 ? "clicked" : "";
    private string clickedClass2 => isClicked2 ? "clicked1" : "";

    private bool? isTodoVisible = null;

    private void ShowComponentA()
    {
        isTodoVisible = true;
        isClicked1 = true;
        isClicked2 = false; 
    }

    private void ShowComponentB()
    {
        isTodoVisible = false;
        isClicked1 = false; 
        isClicked2 = true;
    }
}
